{% set mac_table_normalized = [] %}
{% for mac in show_mac_address_table %}
{% set key_changer = { "device": inventory_hostname, "mac": mac["destination_address"], "vlan": mac["vlan"], "interface": mac["destination_port"] } %}
{% set _ = mac_table_normalized.append(key_changer) %}
{% endfor %}
{{ mac_table_normalized }}
